.pageHeader {
    @apply
    container mx-auto
    my-10
}
.pageHeader > h1 {
    @apply
    font-Ubuntu font-medium
    text-[32px] leading-10
    text-[#082546]
}
.pageContentCover {
    @apply
    container mx-auto
    flex flex-wrap gap-[125px]
}
.pageContent {
    @apply
    max-w-[730px]
    flex flex-wrap gap-[30px]
    sm:justify-center
}
.pressItem {
    @apply
    max-w-[350px] min-h-[480px]
    rounded-[9px]
    bg-white
    p-[18px]
    border border-white
    hover:border
    hover:border-[#DDDFE7]
}
.pressImg {
    @apply
    max-w-[314px] max-h-[214px]
    rounded-md
}
.pressItem > div {
    @apply
    flex items-center gap-2
    my-6
}
.pressItemText {
    @apply
    max-w-[294px]
    font-Ubuntu font-normal
    text-[#082546] text-[22px] leading-8
}

.pageContentMenu  {
    @apply
    rounded-xl
    shadow-[0_10px_45px_0px_rgba(71,59,240,0.10)]
    p-6 
    h-full
    bg-white
    md:hidden sm:hidden
}
.pageContentMenu > div {
    @apply
    max-w-[255px]
    w-[200px]
    pb-2
}
.pageContentMenu > div > a {
    @apply
    font-Ubuntu font-medium
    text-[#76797C] text-base
}
.pressBtn {
    @apply
    invisible
    flex
    font-Ubuntu font-medium
    text-[#082546] text-[16px] leading-5
    mt-10
}
.mobileMenuItem {
    @apply
    p-4
    rounded-xl
    font-Ubuntu font-medium
    bg-white
    text-base text-[#76797C]
    max-w-[174px]
    hover:text-[#123075]
    hover:shadow-[0_6px_20px_0px_rgba(21,89,166,0.20)]
    my-8 mx-1 text-center
  }
  .mebileSubMenu {
    @apply
    font-Ubuntu font-normal
    
    text-[#76797C]
    text-base
    container mx-auto
    flex flex-wrap gap-3
  }
  .mobileMenu {
    @apply
    hidden sm:block md:block
}